html, body {
	height: 100%;
	padding: 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
	padding: 0;
}

.sticky-footer, .push {
	height: 1.5em;
	font-size: 15px;
	text-align: center;
    color: rgb(44, 62, 80);
}

.sticky-footer{
    margin-top: 15px;
}

.sticky-footer a  {
    color: rgb(44, 62, 80);
}