
@font-face {
	font-family: "ProximaNova";
	src: url('./ProximaNova-Light.otf') format("opentype");
}

@font-face {
	font-family: "ProximaNova";
	src: url('./ProximaNova-Bold.otf') format("opentype");
	font-weight: bold;
}

html, body {
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h1 {
	text-align: center;
	font-size: 70px;
}

.error{
	font-size: 24px;
	color: #e74c3c;
}

.center{
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.navbar-link:hover, .navbar-link:focus, .navbar-link:active {
	color: #ecf0f1 !important;
}

.navbar-trans {
	background-color: rgba(44, 62, 80, 0.2);
	font-weight: bold;
	color: #bdc3c7;
}

.landing-page {
	height: 100%;
	width: 100%;
	background: url('/static/img/sitting.jpg') no-repeat center center fixed;
	background-size: cover;
}

.full-page {
	height: 100%;
	width: 100%;
	background-color: #ecf0f1;
}

.main-jumbo {
	background: none;
	font-weight: bold;
	color: #ecf0f1;
	text-align: center;
}

.join-btn-container {
	position: relative;
	top: 20px;
	width: 100%;
	text-align: center;
}

.join-btn {
	font-size: 300%;
	background-color: transparent;
	border-color: white; /*#ecf0f1;*/
	border-radius: 6px;
}

.join-btn:hover, .join-btn:active {
	border-color: white; /*#ecf0f1;*/
	/*background-color: rgba(44, 62, 80, 0.5);*/
	background-color: white; /*#ecf0f1;*/
	color: rgb(36, 39, 38);
}
.title{
	text-align: center;
	margin-bottom: 0px;
	height: 100%;
}
.header{
	text-align: center;
	padding-top: 10%;
	font-size: 70px;
}

.signup-form, .signup-label {
	font-size: 16px;
	line-height: 16px;
}

.signup-label label {
	line-height: 43px;
	font-size: 18px;
	font-weight: normal;
}