
@font-face {
	font-family: "ProximaNova";
	src: url('./ProximaNova-Light.otf') format("opentype");
}

@font-face {
	font-family: "ProximaNova";
	src: url('./ProximaNova-Bold.otf') format("opentype");
	font-weight: bold;
}

html, body {
	font-family: ProximaNova, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	background-color: #ecf0f1;
	height: 100%;
}

h1 {
	text-align: center;
	font-size: 70px;
}

.error{
	padding-top: 9px;
	padding-bottom: 19px;
	padding-right: 14px;
	padding-left: 14px;
	margin-bottom: 14px;
	background-color: rgba(231, 76, 60, .5);
	border: 1px solid rgba(192, 57, 43, .5);
	border-radius: 4px;
	/*font-size: 24px;*/
	/*color: #e74c3c;*/
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #c0392b;
}

.center{
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.navbar-link:hover, .navbar-link:focus, .navbar-link:active {
	color: #ecf0f1 !important;
}

.navbar-trans {
	background-color: rgba(44, 62, 80, 0.2);
	font-weight: bold;
	color: #bdc3c7;
}

.landing-page {
	height: 100%;
	width: 100%;
	background: url('/static/img/sitting.jpg') no-repeat center center fixed;
	background-size: cover;
}

/*.full-page {
	height: 100%;
	width: 100%;
	background-color: #ecf0f1;
}*/

.main-jumbo {
	background: none;
	font-weight: bold;
	color: #ecf0f1;
	text-align: center;
}

.join-btn-container {
	position: relative;
	top: 20px;
	width: 100%;
	text-align: center;
}

.join-btn {
	font-size: 300%;
	background-color: transparent;
	border-color: white; /*#ecf0f1;*/
	border-radius: 6px;
}

.join-btn:hover, .join-btn:active {
	border-color: white; /*#ecf0f1;*/
	/*background-color: rgba(44, 62, 80, 0.5);*/
	background-color: white; /*#ecf0f1;*/
	color: rgb(36, 39, 38);
}
.title{
	text-align: center;
	margin-bottom: 0px;
	height: 100%;
}
.header{
	text-align: center;
	padding-top: 10%;
	font-size: 70px;
}

.signup-form, .signup-label {
	font-size: 16px;
	line-height: 16px;
}

.signup-label label {
	line-height: 43px;
	font-size: 18px;
	font-weight: normal;
}

.day-of-the-week-right {
	border-right: 1px solid #2c3e50;
}

.day-of-the-week {
	padding-top: 10px;
	padding-bottom: 10px;
}

.day-left {
	width:40%;
	float: left;
}

.day-right {
	width:40%;
	float: right;
}
.pass{
	font-size: 25px;
}
.class {
	background-color: #34495e;
	color: #ecf0f1;
	padding-top: 10px;
	padding-bottom: 30px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.class a {
	color: #ecf0f1;
}

.class a:hover, .class a:active {
	color: #95a5a6;
}

.students {
	/*margin-left: 50px;*/
	font-size: 20px;
}

.class-delete-btn:hover, .class-delete-btn:active {
	color: white !important;
}

hr {
	display: block; height: 1px;
    border: 0; border-top: 1px solid white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
}

.hr-big {
	width: 75%;
}

.full-page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
	padding: 0;
}

.sticky-footer, .push {
	height: 1.5em;
	font-size: 15px;
	text-align: center;
    color: rgb(44, 62, 80);
}

.sticky-footer{
    margin-top: 12px;
}

.sticky-footer a  {
    color: rgb(44, 62, 80);
}

.about-page {
	padding-top: 25px;
	padding-bottom: 10px;
}
.find-class{

}

.schedule {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.schedule .head {
	font-weight: bold;
	font-size: 20px;
	/*#2c3e50*/
}

.schedule .head td {
	padding-top: 15px;
	padding-bottom: 15px;
}

.schedule .classes-row {
	font-size: 16px;
}

table, th, td {
	border: 1px solid #2c3e50 !important;
	color: black !important;
}

.classes-row {
	font-weight: bolder;
}

.occupied-cell-top {
	border-top: 3px solid black !important;
	border-right: 3px solid black !important;
	border-left: 3px solid black !important;
	border-bottom: none !important;
}

.occupied-cell-center {
	border-right: 3px solid black !important;
	border-left: 3px solid black !important;
	border-top: none !important;
	border-bottom: none !important;
}

.free-cell-top {
	border-top: 3px solid black !important;
}