{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
	<h1>About</h1>
	<hr class="hr-big">
	<div class="about-page center class jumbotron">
	<p>We created ClassMatch to make the process of finding your <span id="word-classmates">classmates</span> for next year more efficient and easy! ClassMatch is a website that enables you to quickly and easily find your classmates for the upcoming year!</p>
	<br><br>
	Contact us at <a href="mailto:parmod@bergen.org">parmod@bergen.org</a> if you have any questions or comments!
	</div>

	<script>
    var myTimeoutAbout;
    $('#word-classmates').mouseenter(function() {
        myTimeoutAbout = setTimeout(function() {
            $(".about-page").append('<br><a href="https://www.youtube.com/watch?v=93ASUImTedo"><img style="width:100%;" src="/static/img/matt.JPG"></a>')
        }, 5000);
    }).mouseleave(function() {
        clearTimeout(myTimeoutAbout);
    });
    </script>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ClassMatch -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7180252422585192"
     data-ad-slot="2246752343"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}