{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
	<h1>About</h1>
	<hr class="hr-big">
	<div class="about-page center class jumbotron">
		<p>We created ClassMatch to make the process of finding your <span id="word-classmates">classmates</span> for next year more efficient and easy! ClassMatch is a website that enables you to quickly and easily find your classmates for the upcoming year!</p>
		<br><br>
		Contact us at <a href="mailto:parmod@bergen.org">parmod@bergen.org</a> if you have any questions or comments!
		<div class="credit"><br><br>
		Arrow designed by <a href="http://www.thenounproject.com/mateozlatar">Mateo Zlatar</a> from the <a href="http://www.thenounproject.com">Noun Project</a></div>
	</div>
</div>
{% endblock %}