{% extends "base.html" %}
{% block title %}Add a Class{% endblock %}
{% block content %}
<div class="container">
	<h1>My Schedule</h1>
	<hr class="hr-big">
	<!-- NEED DROPDOWN FOR CLASSNAME -->
		<h2 class="center">Add classes</h2>
		<br>
		{% if error %}
		<div class="error">
			<h3>{{error}}</h3>
		</div>
		<br/>
		{% endif %}
		<form class="center signup-form" method="POST" action="/add">
			<div id="add-classes">
				<div class="row">
					<div class="form-group">
						<div class="col-lg-4 right signup-label"><label class="control-label" for="class_name1">Class name</label></div>
						<div class="col-lg-4">
							<div id="course-typeahead">
								<input data-toggle="tooltip" data-placement="right" data-original-title="Enter or choose your course from the dropdown" type="text" class="typeahead form-control" autocomplete="off" id="class_name" name="class_name1" autofocus="autofocus" placeholder="Data Structures">
							</div>
						</div>
						<div class="col-lg-4"></div>
					</div>
				</div>
				<br><br>
				<!-- Add way to add teacher when we get teachers -->
				<div class="row">
					<div class="col-lg-1">&nbsp;</div>
					<div class="col-lg-2 day-of-the-week day-of-the-week-right">
						<span class="day">Monday</span>
						<br/><br/>
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the starting mod (you can leave it blank)" class="day-left form-control" id="monday_mods_start1" name="monday_mods_start1" placeholder="1">&mdash;
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the ending mod (you can leave it blank)" class="day-right form-control" id="monday_mods_end1" name="monday_mods_end1" placeholder="3">
					</div>
					<div class="col-lg-2 day-of-the-week day-of-the-week-right">
						<span class="day">Tuesday</span>
						<br/><br/>
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the starting mod (you can leave it blank)" class="day-left form-control" id="tuesday_mods_start1" name="tuesday_mods_start1" placeholder="1">&mdash;
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the ending mod (you can leave it blank)" class="day-right form-control" id="tuesday_mods_end1" name="tuesday_mods_end1" placeholder="3">
					</div>
					<div class="col-lg-2 day-of-the-week day-of-the-week-right">
						<span class="day">Wednesday</span>
						<br/><br/>
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the starting mod (you can leave it blank)" class="day-left form-control" id="wednesday_mods_start1" name="wednesday_mods_start1">&mdash;
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the ending mod (you can leave it blank)" class="day-right form-control" id="wednesday_mods_end1" name="wednesday_mods_end1">
					</div>
					<div class="col-lg-2 day-of-the-week day-of-the-week-right">
						<span class="day">Thursday</span>
						<br/><br/>
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the starting mod (you can leave it blank)" class="day-left form-control" id="thursday_mods_start1" name="thursday_mods_start1">&mdash;
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the ending mod (you can leave it blank)" class="day-right form-control" id="thursday_mods_end1" name="thursday_mods_end1">
					</div>
					<div class="col-lg-2 day-of-the-week">
						<span class="day">Friday</span>
						<br/><br/>
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the starting mod (you can leave it blank)" class="day-left form-control" id="friday_mods_start1" name="friday_mods_start1" placeholder="1">&mdash;
						<input type="text" data-toggle="tooltip" data-placement="bottom" data-original-title="Enter the ending mod (you can leave it blank)" class="day-right form-control" id="friday_mods_end1" name="friday_mods_end1" placeholder="3">
					</div>
					<div class="col-lg-1">&nbsp;</div>
				</div>
				<br/><br/>
			</div>
			<a class="btn btn-success" onclick="addClass();">+ Add another class</a>
			<br><br>
			<button class="btn btn-lg btn-primary" type="submit">Save</button>
		</form>
</div>
{% endblock %}

{% block script %}
$(document).ready(function() {
	engine.clearRemoteCache();
});

var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;
 
    // an array that will be populated with substring matches
    matches = [];
 
    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');
 
    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        // the typeahead jQuery plugin expects suggestions to a
        // JavaScript object, refer to typeahead docs for more info
        matches.push({ value: str });
      }
    });
 
    cb(matches);
  };
};
 
var states = ['Data Structures', 'AP Psychology', 'Adv Analysis II', 'Adv Analysis I', 'Math Analysis II', 'Math Analysis I', 'Gateway Seminar',
'AP Calculus AB', 'AP Analyt Calc (BC+)', 'AP Calculus BC', 'Calculus I', 'PE', 'Adv Biology', 'Biology Honors', 'IB Espanol IV SL', 'IB Espanol IV HL', 'IB Espanol V SL', 'IB Espanol V HL', 'Espanol III', 'Espanol II', 'Espanol I/II', 'World Lit I', 'World Lit II', 'IB World Lit I HL', 'IB World Lit II HL', 'IB Literature_Language I HL', 'IB Literature_Language II HL', 'American Lit I', 'American Lit II', 'Francais II', 'Francais III', 'IB Francais IV SL', 'IB Francais IV HL',
'World History', 'US History I', 'US History II', 'IB Hist of Amer I HL', 'IB Hist of Amer II HL', 'Theatre History II', 'AP Art History',
'AP Comp Sci A', 'Hotel Mgmt_Cul Theory', 'Theory of Knowledge', 'Elec Music Synthesis', 'Music and Society',
'AP Music Theory in Digital Age', 'Culinary', 'Prin of Eng_Mat Sci', 'AP Language and English Composition',
'Intro to Engineering Design II', 'Intro to Engineering Design I', 'Interm Electrical Eng', 'Discrete I',
'Discrete II', 'AP Chemistry', 'Adv Chemistry', 'Intermediate Chemistry', 'Java Programming', 'Constitutional Law',
'Mandarin I', 'Mandarin II', 'Mandarin III', 'Mandarin 3', 'IED 2', 'IB Economics HL', 'AP Micro Economics', 'Acting II',
'Police and Corrections', 'Manufac Process CIM', 'Robotics', 'Advanced Math Topics', 'Adv Business Topics 1', 'Adv Business Topics 2',
'Dance I', 'Dance II', 'Design and Production Tech', 'Biotech Lab', 'Drivers Education', 'Publishing', 'Entrep_Adv Cul Arts'];
 
$('#course-typeahead .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  displayKey: 'value',
  source: substringMatcher(states)
});

$("#class_name").tooltip();
$("#monday_mods_start1").tooltip();
$("#monday_mods_end1").tooltip();
$("#tuesday_mods_start1").tooltip();
$("#tuesday_mods_end1").tooltip();
$("#wednesday_mods_start1").tooltip();
$("#wednesday_mods_end1").tooltip();
$("#thursday_mods_start1").tooltip();
$("#thursday_mods_end1").tooltip();
$("#friday_mods_start1").tooltip();
$("#friday_mods_end1").tooltip();


var number = 1;
function addClass() {
	number += 1;
	$('#add-classes').append('\
				<hr><div class="row"> \
				<div class="form-group"> \
					<div class="col-lg-4 right signup-label"><label class="control-label" for="class_nameq">Class name</label></div> \
					<div class="col-lg-4"> \
						<div id="prefetch"> \
							<input type="text" class="typeahead form-control" autocomplete="off" id="class_nameq" name="class_nameq" placeholder="Data Structures"> \
						</div> \
					</div> \
					<div class="col-lg-4"></div> \
				</div> \
			</div> \
			<br><br> \
			<!-- Add way to add teacher when we get teachers --> \
			<div class="row"> \
				<div class="col-lg-1">&nbsp;</div> \
				<div class="col-lg-2 day-of-the-week day-of-the-week-right"> \
					<span class="day">Monday</span> \
					<br/><br/> \
					<input type="text" class="day-left form-control" name="monday_mods_startq">&mdash; \
					<input type="text" class="day-right form-control" name="monday_mods_endq"> \
				</div> \
				<div class="col-lg-2 day-of-the-week day-of-the-week-right"> \
					<span class="day">Tuesday</span> \
					<br/><br/> \
					<input type="text" class="day-left form-control" name="tuesday_mods_startq">&mdash; \
					<input type="text" class="day-right form-control" name="tuesday_mods_endq"> \
				</div> \
				<div class="col-lg-2 day-of-the-week day-of-the-week-right"> \
					<span class="day">Wednesday</span> \
					<br/><br/> \
					<input type="text" class="day-left form-control" name="wednesday_mods_startq">&mdash; \
					<input type="text" class="day-right form-control" name="wednesday_mods_endq"> \
				</div> \
				<div class="col-lg-2 day-of-the-week day-of-the-week-right"> \
					<span class="day">Thursday</span> \
					<br/><br/> \
					<input type="text" class="day-left form-control" name="thursday_mods_startq">&mdash; \
					<input type="text" class="day-right form-control" name="thursday_mods_endq"> \
				</div> \
				<div class="col-lg-2 day-of-the-week"> \
					<span class="day">Friday</span> \
					<br/><br/> \
					<input type="text" class="day-left form-control" name="friday_mods_startq">&mdash; \
					<input type="text" class="day-right form-control" name="friday_mods_endq"> \
				</div> \
				<div class="col-lg-1">&nbsp;</div> \
			</div> \
			<br/><br/>'.replace(new RegExp('[q]', 'g'), number));
			return false;
}
{% endblock %}