<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/custom.css">
		{% block extra %}{% endblock %}
	</head>
	<body>
	{% if page=='index' %}<div class="landing-page">{% else %}<div class="full-page">{% endif %}
  <div class="{% if page=='index' %}navbar-trans {% endif %}navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="{% if page=='index'%}navbar-link {% endif %}navbar-brand" href="../" id="classmatch2">ClassMatch 2</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          {% if signed_in %}
          <li><a {% if page=='index'%}class="navbar-link"{% endif %} href="/classes">Find Classmates</a></li>
          <li><a {% if page=='index'%}class="navbar-link"{% endif %} href="/schedule">My Schedule</a></li>
          <li><a {% if page=='index'%}class="navbar-link"{% endif %} href="/account">My Account</a></li>
          {% endif %}
          <li><a {% if page=='index'%}class="navbar-link"{% endif %} href="/about">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
          	{% if signed_in %}
            <li><a {% if page=='index'%}class="navbar-link"{% endif %} href="/logout">Logout</a></li>
          	{% else %}
          	<li><a {% if page=='index'%}class="navbar-link"{% endif %} href="/signin">Sign In</a></li>
            <li><a {% if page=='index'%}class="navbar-link"{% endif %} href="/signup">Sign Up</a></li>
          	{% endif %}
          </ul>
        </div>
      </div>
    </div>
    <br/><br/><br/><br/><br/>
		<span id="page-content">
    {% block content %}
		{% endblock %}
    </span>
    {% if page=='index' %}</div>{% endif %}
    
    <script>
      {% block script %}
      {% endblock %}
    </script>

    {% if page=='index' %}
    <script>
    var myTimeout;
    $('#classmatch2').mouseenter(function() {
        myTimeout = setTimeout(function() {
            $(".landing-page").css("background", "url('/static/img/james.jpg') no-repeat center center fixed");
            $("#page-content").remove();
        }, 5000);
    }).mouseleave(function() {
        clearTimeout(myTimeout);
    });
    </script>
    {% endif %}
	</body>
</html>