{% extends "base.html" %}
{% block title %}My Classes{% endblock %}
{% block content %}
<div class = "row">
	<div class="hero-unit" style="text-align: center;">
		<h1>Your Classes:</h1>
		<hr/>
		<div style="text-align:left;">
			{% for p in peoples %}
				<h3>Course: {{p}}</h3>
				<span style="margin-left:10px;">{{peoples[p]}}</span>
				<hr/>
			{% endfor %}
		</div>
		<a href="/schedule">
			<button class="btn btn-primary btn-large">Add more classes</button>
		</a>
	</div>
</div>
{% endblock %}