{% extends "base.html" %}
{% block title %}My Schedule{% endblock %}
{% block content %}
<div class="container">
	<h1>My Schedule</h1>
	<br>
	<table class="schedule table">
		<tr class="head">
			<td>&nbsp;</td>
			<td>Monday</td>
			<td>Tuesday</td>
			<td>Wednesday</td>
			<td>Thursday</td>
			<td>Friday</td>
		</tr>
		{% set monday_last = -1 %}
		{% set tuesday_last = -1 %}
		{% set wednesday_last = -1 %}
		{% set thursday_last = -1 %}
		{% set friday_last = -1 %}
		{% for mod in range(1,28) %}
		<tr class="classes-row">
			<td>{{mod}}</td>
			<td {% if monday[mod] != None and monday[mod] != monday_last %} class="occupied-cell-top" {% elif monday[mod] != None and monday[mod] == monday_last %} class="occupied-cell-center" {% elif monday[mod] == None and monday[mod] != monday_last %} class="free-cell-top" {% endif %}{% if monday[mod] != None and monday[mod]['color'] != None %} style="background-color: rgba({{ monday[mod]['color'] }}, 1);"{% endif %}>{% if monday[mod] != None and monday[mod] != monday_last %}
			{{monday[mod]['name']}}
			{% else %}
			<br>
			{% endif %}
			{% set monday_last = monday[mod] %}</td>
			<td {% if tuesday[mod] != None and tuesday[mod] != tuesday_last %} class="occupied-cell-top" {% elif tuesday[mod] != None and tuesday[mod] == tuesday_last %} class="occupied-cell-center" {% elif tuesday[mod] == None and tuesday[mod] != tuesday_last %} class="free-cell-top" {% endif %}{% if tuesday[mod] != None and tuesday[mod]['color'] != None %} style="background-color: rgba({{ tuesday[mod]['color'] }}, 1);"{% endif %}>{% if tuesday[mod] != None and tuesday[mod] != tuesday_last %}
			{{tuesday[mod]['name']}}
			{% else %}
			<br>
			{% endif %}
			{% set tuesday_last = tuesday[mod] %}</td>
			<td {% if wednesday[mod] != None and wednesday[mod] != wednesday_last %} class="occupied-cell-top" {% elif wednesday[mod] != None and wednesday[mod] == wednesday_last %} class="occupied-cell-center" {% elif wednesday[mod] == None and wednesday[mod] != wednesday_last %} class="free-cell-top" {% endif %}{% if wednesday[mod] != None and wednesday[mod]['color'] != None %} style="background-color: rgba({{ wednesday[mod]['color'] }}, 1);"{% endif %}>{% if wednesday[mod] != None and wednesday[mod] != wednesday_last %}
			{{wednesday[mod]['name']}}
			{% else %}
			<br>
			{% endif %}
			{% set wednesday_last = wednesday[mod] %}</td>
			<td {% if thursday[mod] != None and thursday[mod] != thursday_last %} class="occupied-cell-top" {% elif thursday[mod] != None and thursday[mod] == thursday_last %} class="occupied-cell-center" {% elif thursday[mod] == None and thursday[mod] != thursday_last %} class="free-cell-top" {% endif %}{% if thursday[mod] != None and thursday[mod]['color'] != None %} style="background-color: rgba({{ thursday[mod]['color'] }}, 1);"{% endif %}>{% if thursday[mod] != None and thursday[mod] != thursday_last %}
			{{thursday[mod]['name']}}
			{% else %}
			<br>
			{% endif %}
			{% set thursday_last = thursday[mod] %}</td>
			<td {% if friday[mod] != None and friday[mod] != friday_last %} class="occupied-cell-top" {% elif friday[mod] != None and friday[mod] == friday_last %} class="occupied-cell-center" {% elif friday[mod] == None and friday[mod] != friday_last %} class="free-cell-top" {% endif %}{% if friday[mod] != None and friday[mod]['color'] != None %} style="background-color: rgba({{ friday[mod]['color'] }}, 1);"{% endif %}>{% if friday[mod] != None and friday[mod] != friday_last %}
			{{friday[mod]['name']}}
			{% else %}
			<br>
			{% endif %}
			{% set friday_last = friday[mod] %}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}