{% extends "base.html" %}
{% block title %}{{schedule_owner}} Schedule{% endblock %}
{% block content %}
<div class="container">
	<h1>{{schedule_owner}} Schedule</h1>
	<br>
	<table class="schedule table">
		<tr class="head">
			<td class="mods-col">&nbsp;</td>
			<td class="monday-col show-col schedule-col">
				<a href="#" class="prev-day"><img class="next-prev-btn prev-btn" src="/static/img/right_arrow.svg" style="float: left; height: 28px;"></a>
				Monday
				<a href="#" class="next-day"><img class="next-prev-btn" src="/static/img/right_arrow.svg" style="float: right; height: 28px;"></a>
			</td>
			<td class="tuesday-col schedule-col">
				<a href="#" class="prev-day"><img class="next-prev-btn prev-btn" src="/static/img/right_arrow.svg" style="float: left; height: 28px;"></a>
				Tuesday
				<a href="#" class="next-day"><img class="next-prev-btn" src="/static/img/right_arrow.svg" style="float: right; height: 28px;"></a>
			</td>
			<td class="wednesday-col schedule-col">
				<a href="#" class="prev-day"><img class="next-prev-btn prev-btn" src="/static/img/right_arrow.svg" style="float: left; height: 28px;"></a>
				Wednesday
				<a href="#" class="next-day"><img class="next-prev-btn" src="/static/img/right_arrow.svg" style="float: right; height: 28px;"></a>
			</td>
			<td class="thursday-col schedule-col">
				<a href="#" class="prev-day"><img class="next-prev-btn prev-btn" src="/static/img/right_arrow.svg" style="float: left; height: 28px;"></a>
				Thursday
				<a href="#" class="next-day"><img class="next-prev-btn" src="/static/img/right_arrow.svg" style="float: right; height: 28px;"></a>
			</td>
			<td class="friday-col schedule-col">
				<a href="#" class="prev-day"><img class="next-prev-btn prev-btn" src="/static/img/right_arrow.svg" style="float: left; height: 28px;"></a>
				Friday
				<a href="#" class="next-day"><img class="next-prev-btn" src="/static/img/right_arrow.svg" style="float: right; height: 28px;"></a>
			</td>
		</tr>
		{% set monday_last = -1 %}
		{% set tuesday_last = -1 %}
		{% set wednesday_last = -1 %}
		{% set thursday_last = -1 %}
		{% set friday_last = -1 %}
		{% for mod in range(1,28) %}
		<tr class="classes-row">
			<td class="mods-col"><span style="display:block;height:100%;width:100%;" data-toggle="tooltip" data-original-title="{{mod_times[mod - 1]}}" id="{{mod}}">{{mod}}</span></td>
			<td class="monday-col show-col schedule-col{% if monday[mod] != None and monday[mod] != monday_last %} occupied-cell-top{% elif monday[mod] != None and monday[mod] == monday_last %} occupied-cell-center{% elif monday[mod] == None and monday[mod] != monday_last %} free-cell-top{% endif %}" {% if monday[mod] != None and monday[mod]['color'] != None %} style="background-color: rgba({{ monday[mod]['color'] }}, 1);"{% endif %}>
				{% if monday[mod] != None and monday[mod] != monday_last %}
					<span class="tooltip-schedule" data-toggle="tooltip" data-original-title="{{monday[mod]['students_enrolled_names']}}" id="monday{{mod}}">{{monday[mod]['name']}}</span>
				{% endif %}
			{% set monday_last = monday[mod] %}</td>
			<td class="tuesday-col schedule-col{% if tuesday[mod] != None and tuesday[mod] != tuesday_last %} occupied-cell-top{% elif tuesday[mod] != None and tuesday[mod] == tuesday_last %} occupied-cell-center{% elif tuesday[mod] == None and tuesday[mod] != tuesday_last %} free-cell-top{% endif %}" {% if tuesday[mod] != None and tuesday[mod]['color'] != None %} style="background-color: rgba({{ tuesday[mod]['color'] }}, 1);"{% endif %}>
				{% if tuesday[mod] != None and tuesday[mod] != tuesday_last %}
					<span class="tooltip-schedule" data-toggle="tooltip" data-original-title="{{tuesday[mod]['students_enrolled_names']}}" id="tuesday{{mod}}">{{tuesday[mod]['name']}}</span>
				{% endif %}
			{% set tuesday_last = tuesday[mod] %}</td>
			<td class="wednesday-col schedule-col{% if wednesday[mod] != None and wednesday[mod] != wednesday_last %} occupied-cell-top{% elif wednesday[mod] != None and wednesday[mod] == wednesday_last %} occupied-cell-center{% elif wednesday[mod] == None and wednesday[mod] != wednesday_last %} free-cell-top{% endif %}" {% if wednesday[mod] != None and wednesday[mod]['color'] != None %} style="background-color: rgba({{ wednesday[mod]['color'] }}, 1);"{% endif %}>
				{% if wednesday[mod] != None and wednesday[mod] != wednesday_last %}
					<span class="tooltip-schedule" data-toggle="tooltip" data-original-title="{{wednesday[mod]['students_enrolled_names']}}" id="wednesday{{mod}}">{{wednesday[mod]['name']}}</span>
				{% endif %}
			{% set wednesday_last = wednesday[mod] %}</td>
			<td class="thursday-col schedule-col{% if thursday[mod] != None and thursday[mod] != thursday_last %} occupied-cell-top{% elif thursday[mod] != None and thursday[mod] == thursday_last %} occupied-cell-center{% elif thursday[mod] == None and thursday[mod] != thursday_last %} free-cell-top{% endif %}" {% if thursday[mod] != None and thursday[mod]['color'] != None %} style="background-color: rgba({{ thursday[mod]['color'] }}, 1);"{% endif %}>
				{% if thursday[mod] != None and thursday[mod] != thursday_last %}
					<span class="tooltip-schedule" data-toggle="tooltip" data-original-title="{{thursday[mod]['students_enrolled_names']}}" id="thursday{{mod}}">{{thursday[mod]['name']}}</span>
				{% endif %}
			{% set thursday_last = thursday[mod] %}</td>
			<td class="friday-col schedule-col{% if friday[mod] != None and friday[mod] != friday_last %} occupied-cell-top{% elif friday[mod] != None and friday[mod] == friday_last %} occupied-cell-center{% elif friday[mod] == None and friday[mod] != friday_last %} free-cell-top{% endif %}" {% if friday[mod] != None and friday[mod]['color'] != None %} style="background-color: rgba({{ friday[mod]['color'] }}, 1);"{% endif %}>
				{% if friday[mod] != None and friday[mod] != friday_last %}
					<span class="tooltip-schedule" data-toggle="tooltip" data-original-title="{{friday[mod]['students_enrolled_names']}}" id="friday{{mod}}">{{friday[mod]['name']}}</span>
				{% endif %}
			{% set friday_last = friday[mod] %}</td>
		</tr>
		{% endfor %}
	</table>
	<!-- <div class="center">
		<a href="/pdf/{{user}}"><button class="btn btn-lg btn-primary">Get a PDF of this schedule</button>
	</div> -->
</div>
<br><br><br><br>
{% endblock %}

{% block script %}
for (var i = 1; i <= 27; i++) {
	$("#" + i).tooltip();
	$("#monday" + i).tooltip();
	$("#tuesday" + i).tooltip();
	$("#wednesday" + i).tooltip();
	$("#thursday" + i).tooltip();
	$("#friday" + i).tooltip();	
}

var days = ["monday", "monday", "tuesday", "wednesday", "thursday", "friday", "monday"];

var previous = 1;

function showColumn(day) {
	columns = $("." + days[previous] + "-col");
	for (var i = 0; i <= columns.length; i++) {
		$(columns[i]).removeClass("show-col");
	}
	previous = day;
	columns = $("." + days[previous] + "-col");
	for (var i = 0; i <= columns.length; i++) {
		$(columns[i]).addClass("show-col");
	}
}

var dt = new Date();
var dayOfTheWeek = dt.getDay(); //Sunday is 0, Monday is 1...
showColumn(dayOfTheWeek);

$(".next-day").click(function(e) {
	switch (previous) {
		case 0:
			showColumn(2);
			break;
		case 6:
			showColumn(2);
			break;
		default:
			showColumn(previous + 1);
			break;
	}
	e.preventDefault();
})
$(".prev-day").click(function(e) {
	switch (previous) {
		case 1:
			showColumn(5);
			break;
		case 0:
			showColumn(5);
			break;
		default:
			showColumn(previous - 1);
			break;
	}
	e.preventDefault();
})
{% endblock %}