{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
<div class="hero-unit">
	<h1 style="text-align: center;">Enter your schedule</h1>
	<form method="post">
		<br/><br/>
		<div id="classes">
			<div class="row">
				<div class="span3" style="text-align: right;">Enter course name</div>
				<div class="span6"><input type="text" name="course" placeholder="World History"></div>
			</div>
			<div class="row">
				<div class="span2">monday</div>
				<div class="span2">tuesday</div>
				<div class="span2">wednesday</div>
				<div class="span2">thursday</div>
				<div class="span2">friday</div>
			</div>
			<div class="row">
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="monday"></div>
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="tuesday"></div>
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="wednesday"></div>
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="thursday"></div>
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="friday"></div>
			</div>
		</div>
		<br/>
		<div style="text-align: center;"><a class="btn" onclick="addClass();">+ Add another class</a></div>
		<br/>
		<div style="text-align: center;">
			<input class="btn btn-success btn-large" type="submit">
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
var number = 1;
function addClass() {
	number += 1;
	$('#classes').append('\
		<hr/>\
		<div class="row"> \
			<div class="span3" style="text-align: right;">Enter course name</div>\
			<div class="span6"><input type="text" name="courseq" placeholder="World History"></div>\
		</div>\
		<div class="row">\
				<div class="span2">monday</div>\
				<div class="span2">tuesday</div>\
				<div class="span2">wednesday</div>\
				<div class="span2">thursday</div>\
				<div class="span2">friday</div>\
			</div>\
			<div class="row">\
				<div class="span2"><input type="text" style="width:80px;" name="mondayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" ></div>\
				<div class="span2"><input type="text" style="width:80px;" name="tuesdayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" ></div>\
				<div class="span2"><input type="text" style="width:80px;" name="wednesdayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" ></div>\
				<div class="span2"><input type="text" style="width:80px;" name="thursdayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" ></div>\
				<div class="span2"><input type="text" style="width:80px;" name="fridayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" ></div>\
			</div>\
	'.replace(new RegExp('[q]', 'g'), number));
	$("[rel='tooltip']").tooltip();
	return false;
}
$(function () {
        $("[rel='tooltip']").tooltip();
    });
{% endblock %}