{% extends "base.html" %}
{% block title %}Signin{% endblock %}
{% block content %}
<div class="container">
	<h1>My Schedule</h1>
	<hr>
		<h2 class="center">Add classes</h2>
		<h2>
		<form class="center signup-form" method="POST" action="/schedule">
			<div class="row">
				<div class="form-group {% if class_name_error %}has-error{% endif %}">
					<div class="col-lg-4 right signup-label"><label class="control-label" for="class_name">Class name</label></div>
					<div class="col-lg-4">
						<input type="text" class="form-control" id="class_name" name="class_name" {% if class_name and not class_name_error %}value="{{class_name}}"{% endif %} autofocus="autofocus" placeholder="{% if class_name_error %}{{class_name_error}}{% else %}Data Structures{% endif %}">
					</div>
					<div class="col-lg-4"></div>
				</div>
			</div>
			<br><br>
			<!-- Add way to add teacher when we get teachers -->
			<div class="row">
				<div class="col-lg-1">&nbsp;</div>
				<div class="col-lg-2 day-of-the-week day-of-the-week-right">
					<label class="control-label day" for="">Monday</span>
					<br/><br/>
					<input type="text" style="width:40%; float: left;" class="form-control" name="monday_mods_start" {% if monday_mods_start %}value="{{monday_mods_start}}"{% endif %}>&mdash;
					<input type="text" style="width:40%; float: right;" class="form-control" name="monday_mods_end" {% if monday_mods_end and not monday_mods_end_error %}value="{{monday_mods_end}}"{% endif %}>
				</div>
				<div class="col-lg-2 day-of-the-week day-of-the-week-right">
					<label class="control-label day" for="">Tuesday</span>
					<br/><br/>
					<input type="text" style="width:40%; float: left;" class="form-control" name="tuesday_mods_start" {% if tuesday_mods_start and not tuesday_mods_start_error %}value="{{tuesday_mods_start}}"{% endif %}>&mdash;
					<input type="text" style="width:40%; float: right;" class="form-control" name="tuesday_mods_end" {% if tuesday_mods_end and not tuesday_mods_end_error %}value="{{tuesday_mods_end}}"{% endif %}>
				</div>
				<div class="col-lg-2 day-of-the-week day-of-the-week-right">
					<label class="control-label day" for="">Wednesday</span>
					<br/><br/>
					<input type="text" style="width:40%; float: left;" class="form-control" name="wednesday_mods_start" {% if wednesday_mods_start and not wednesday_mods_start_error %}value="{{wednesday_mods_start}}"{% endif %}>&mdash;
					<input type="text" style="width:40%; float: right;" class="form-control" name="wednesday_mods_end" {% if wednesday_mods_end and not wednesday_mods_end_error %}value="{{wednesday_mods_end}}"{% endif %}>
				</div>
				<div class="col-lg-2 day-of-the-week day-of-the-week-right">
					<label class="control-label day" for="">Thursday</span>
					<br/><br/>
					<input type="text" style="width:40%; float: left;" class="form-control" name="thursday_mods_start" {% if thursday_mods_start and not thursday_mods_start_error %}value="{{thursday_mods_start}}"{% endif %}>&mdash;
					<input type="text" style="width:40%; float: right;" class="form-control" name="thursday_mods_end" {% if thursday_mods_end and not thursday_mods_end_error %}value="{{thursday_mods_end}}"{% endif %}>
				</div>
				<div class="col-lg-2 day-of-the-week">
					<label class="control-label day" for="">Friday</span>
					<br/><br/>
					<input type="text" style="width:40%; float: left;" class="form-control" name="friday_mods_start" {% if friday_mods_start and not friday_mods_start_error %}value="{{friday_mods_start}}"{% endif %}>&mdash;
					<input type="text" style="width:40%; float: right;" class="form-control" name="friday_mods_end" {% if friday_mods_end and not friday_mods_end_error %}value="{{friday_mods_end}}"{% endif %}>
				</div>
				<div class="col-lg-1">&nbsp;</div>
			</div>
			<br/>
				<!-- <div class="form-group {% if password_error %}has-error{% endif %}">
					<div class="col-lg-4 right signup-label"><label class="control-label" for="password">Password</label></div>
					<div class="col-lg-4">
						<input type="password" class="form-control" id="password" name="password" placeholder="{{password_error}}">
					</div>
				</div> -->
			<br>
			<button class="btn btn-lg btn-primary" type="submit">Save</button>
		</form>
	<hr>
	{% if classses|length != 0 %}
	{% for course in classes %}
		<p>{{course}}</p>
	{% endfor %}
	{% endif %}
</div>
{% endblock %}