{% extends "base.html" %}
{% block title %}Schedule{% endblock %}
{% block content %}
<script type="text/javascript">	    
	{% if all_courses %}
	jQuery(document).ready(function() {
		$('.coursename').typeahead({source: {{ all_courses | safe }}.sort()});
	});
	{% endif %}
</script>

<div class="hero-unit">
	{% if user_courses %}<h1 style="text-align: center;">Your Classes</h1><br/>{% endif %}
	{% for course in user_courses: %}
		<h3 style="text-align: center;">{{course.course}}</h3>
		<form method="post" action="/delete_class" style="text-align:center;"><input type="hidden" name="course" value="{{course.course}}"><input type="submit" class="btn btn-small btn-danger" value="Delete Class"></form>
		<div class="row">
			<div class="span3">Mods Monday: {{course.mods_monday}}</div>
			<div class="span3">Mods Tuesday: {{course.mods_tuesday}}</div>
			<div class="span3">Mods Wednesday: {{course.mods_wed}}</div>
		</div>
		<div class="row">
			<div class="span3">Mods Thursday: {{course.mods_thursday}}</div>
			<div class="span3">Mods Friday: {{course.mods_friday}}</div>
			<div class="span3">&nbsp;</div>
		</div>
		<hr/>
	{% else %}
		<h3 style="text-align: center;">No classes found. Add a class below.</h3>
	{% endfor %}
	<br/><br/>
	<h1 style="text-align: center;">{% if user_courses %}Add classes{% else %}Enter your schedule{% endif %}</h1>
	<form method="post">
		<br/><br/>
		<div id="classes">
			<div class="row">
				<div class="span4" style="text-align: right;">Enter course name</div>
				<div class="span2"><input type="text" name="course" class="coursename" placeholder="World History" style="width:150px;" rel="tooltip" data-placement="top" data-html="true" autocomplete="off" data-provider="typeahead" title="Enter course name <strong><i>exactly</i></strong> as on your schedule"></div>
			</div>
			<div class="row">
				<div class="span2">monday</div>
				<div class="span2">tuesday</div>
				<div class="span2">wednesday</div>
				<div class="span2">thursday</div>
				<div class="span2">friday</div>
			</div>
			<div class="row">
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" autocomplete="off" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="monday"></div>
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" autocomplete="off" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="tuesday"></div>
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" autocomplete="off" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="wednesday"></div>
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" autocomplete="off" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="thursday"></div>
				<div class="span2"><input type="text" style="width:80px;" rel="tooltip" autocomplete="off" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" data-html="true" name="friday"></div>
			</div>
		</div>
		<br/>
		<div style="text-align: center;"><a class="btn" onclick="addClass();">+ Add another class</a></div>
		<br/>
		<div style="text-align: center;">
			<input class="btn btn-success btn-large" type="submit" value="Save">
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
var number = 1;
function addClass() {
	number += 1;
	$('#classes').append('\
		<hr/>\
		<div class="row"> \
			<div class="span4" style="text-align: right;">Enter course name</div>\
			<div class="span2"><input type="text" class="coursename" name="courseq" placeholder="World History" autocomplete="off" rel="tooltip" data-placement="top" data-html="true"  title="Enter course name <strong><i>exactly</i></strong> as on your schedule"></div>\
		</div>\
		<div class="row">\
				<div class="span2">monday</div>\
				<div class="span2">tuesday</div>\
				<div class="span2">wednesday</div>\
				<div class="span2">thursday</div>\
				<div class="span2">friday</div>\
			</div>\
			<div class="row">\
				<div class="span2"><input type="text" style="width:80px;" name="mondayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
				<div class="span2"><input type="text" style="width:80px;" name="tuesdayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
				<div class="span2"><input type="text" style="width:80px;" name="wednesdayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
				<div class="span2"><input type="text" style="width:80px;" name="thursdayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
				<div class="span2"><input type="text" style="width:80px;" name="fridayq" rel="tooltip" data-placement="bottom"  title="Example: <strong>1-3</strong><br/><i>You can leave it blank</i>" autocomplete="off" data-html="true" ></div>\
			</div>\
	'.replace(new RegExp('[q]', 'g'), number));
	$("[rel='tooltip']").tooltip();
	{% if all_courses %}
		$('.coursename').typeahead({source: {{ all_courses | safe }}.sort()});
	{% endif %}
	return false;
}
$(function () {
		$("[rel='tooltip']").tooltip();
	});
{% endblock %}