{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<div class="hero-unit" style="text-align: center;">
	<h1>Sign Up</h1>
	<hr/>
	<form method="post">
		<div class="row">
			<div class="span2">&nbsp;</div>
			<div class="span2" style="text-align:right;">Email</div>
			<div class="span4" style="text-align:left;">
				<div class="input-append">
					<input type="text" id="email" placeholder="jarzon">
					<span class="add-on">@bergen.org</span>
				</div>
			</div>
			<div class="span2">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span2">&nbsp;</div>
			<div class="span2" style="text-align:right;">Password</div>
			<div class="span4" style="text-align:left;"><input type="password" id="password"></div>
			<div class="span2">&nbsp;</div>
		</div>
		<div class="row">
			<div class="span2">&nbsp;</div>
			<div class="span2" style="text-align:right;">Verify Password</div>
			<div class="span4" style="text-align:left;"><input type="password" id="verify"></div>
			<div class="span2">&nbsp;</div>
		</div>
		<input type="submit" class="btn btn-success btn-large">
	</form>
</div>
{% endblock %}