{% extends "base.html" %}
{% block title %}Verify Email{% endblock %}
{% block content %}
<div class="hero-unit" style="text-align: center;">
	<h1>You need to verify your email before proceeding</h1>
	<hr/>
	<h3>Why?</h3>
	<p>
		We need to make sure that you are who you say you are and that you are a student at Bergen County Academies. This ensures that users' schedules will be as accurate as possible.
		<br/><br/>
		If you do not recieve an email, you can change your email or resend the verification email in your <a href="/account">account settings</a>.
	</p>
</div>
{% endblock %}